<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZH Portfolio Site</title>

    <link rel="stylesheet" href="../CSS/stylesheet.css">

    <link rel="shortcut icon" href="/Images/OUStackedSail.jpg"> 
    <nav>
        <ul>
            <li><a href="../index.html">Home Page</a></li>
            <li><a href="../html/fun_facts.html">Fun Facts</a></li>
            <li><a href="../html/resume.html"></a>Resume</li>
            <li><a href="../html/blog.html">Blog </a></li>

        </ul>
    </nav>
 

</head>
<body>
    <main>
        <h1>Welcome to my Blog Page!</h1>
        <h2 id= "Movie_Description">Below you will find a scene from one of my favorite films, A Few Good Men!</h2>
        <div id ="A_Few_Good_Men">
            <iframe id="Scene" width="560" height="315" src="https://www.youtube.com/embed/9FnO3igOkOk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id = "Scene_Description">I really enjoy this scene in particular, not just because it's one of the most famous scenes in all of American cinema, but because this scene brings about such a climactic conclusion to the film. It's so satisfying to see Jack Nicholson's stunning performance, masterfully delivered, and complimented by Tom Cruise's one of a kind skill. I very much recommend this movie.</div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        
        <div class="container">
            <label for="commentZone" id="label">Click To --></label>
            <button id="lComment" >Leave A Comment</button>
            <textarea id="commentZone" rows="4"></textarea>
            <button id="pComments">Post Comment</button>
            <div id="usComments">
          </div>
      </div>
        <script src="../JS/blog.js"></script>
    </main>
    <hr>
    <footer id="page_footer">
       Property of Zach Haveraneck&copy;

    </footer>
    
</body>
</html>