<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZH Portfolio Site</title>

    <link rel="stylesheet" href="../CSS/stylesheet.css">

    <script src="https://kit.fontawesome.com/104498a5ae.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../Images/OUStackedSail.jpg" type="image/jpg">
    <nav>
        <ul>
            <li><a href="../index.html">Home Page</a></li>
            <li><a href="../html/resume.html">Resume Page</a></li>
            <li><a href="../html/fun_facts.html">Fun Facts</a></li>
            <li><a href="../html/blog.html">Blog</a></li>
        </ul>
    </nav>
</head> 
<body>
    <main>

    <h1>Some fun facts about me</h1>
    <hr>
    <div id="Book">
        <h2>My Favorite Book is Lonesome Dove</h2>
        <img src="../Images/Lonesome.jpg" alt="Lonesome Dove Book Cover">
        <p>Lonesome Dove is the premier western novel series in the opinions of many, written by Larry McMurtry. <br>
        I enjoy this book due to the shocking amount of realism and detail in describing the rivalry between cowboys and Native Americans. </p>

    </div>
    <div id="audio">
        <h2>My Favorite song is Smooth by Carlos Santana</h2>
        <audio controls src="../Audio/_Smooth_ Santana Feat. Rob Thomas Lyrics Video.mp3"></audio>
        <a href="https://www.youtube.com/watch?v=Ce1r05SSbwA">Link to Listen</a> 

    
    </div>

    <div id="Movie/TV_series">
        <h2> My Favorite is Lord of the Rings and my favorite TV show is Scrubs</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/V75dMMIW2B4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zOgb3KIJDY8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </div>
    <hr>
    <footer id="page_footer">
        Property of Zach Haveraneck &copy;
    </footer>
        
    </main>
</body>
</html>