<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZH Portfolio Site</title>
    
    
    <link rel="stylesheet" href="../public/CSS/stylesheet.css">
    <script defer src="../public/JS/trivia.js"></script>
    
    <script src="https://kit.fontawesome.com/104498a5ae.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../public/Images/OUStackedSail.jpg" type="image/jpg">
    <nav>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="./blog">Resume Page</a></li>
            <li><a href="./fun_facts">Fun Facts</a></li>
            <li><a href="./resume">Blog</a></li>
            <li><a href="./trivia">Trivia</a></li>
        </ul>
    </nav> 
 

</head>
<body>
    <main>
        <h1 id="Main_Intro">My name is Zach Haveraneck, this is my portfolio.</h1>
        <img src="../public/Images/self_image.jpg" alt="Image of myself" width="13%"> 
        <p id="Quote">"All we have to decide is what to do with the time that is given to us"-Gandalf</p>
        <p id="Intro">Hello my name is Zach Haveraneck and I'm from Rochester Hills Michigan, I love music and I have been playing the drums for over 20 years now.
        I am currently an intern at BorgWarner Power Drive Systems which is a tier 1 auto supplier based out of Auburn Hills Michigan.
        Eventually after my degree is secured, I'd like to break into the career field of information assurance and become an cybersecurity auditor.
        To learn more about me, please visit my resume and fun fact pages!
        </p>
    
        <label for="Degree_Progress"> Degree Progress</label>
        <progress id="Degree Progress" min=0 max=128 value=75 ></progress>
        </main>
        <hr>
    <footer id="page_footer">
       Property of Zach Haveraneck&copy;

    </footer>


</body>
</html>