<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZH Portfolio Site</title> 

    <link rel="stylesheet" href="../public/CSS/stylesheet.css">

    <script src="https://kit.fontawesome.com/104498a5ae.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../Images/OUStackedSail.jpg" type="image/jpg">
    <nav>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/resume">Resume Page</a></li>
            <li><a href="/fun_facts">Fun Facts</a></li>
            <li><a href="/views/blog">Blog</a></li>
            <li><a href="/trivia">Trivia</a></li>
        </ul>
    </nav>
</head>
<body>
    <main>
        <h1>Zach Haveraneck - Resume</h1>
        <p id="Contact">Contact me at Haveraneck97@gmail.com or at 248-877-4898 <br>
            1080 Hickory Hill Dr. Rochester Hills MI, 48309
        </p>
    
        <h2 id="Objective">Objective</h2>
        <p>My professional objective is to secure a job in cyber security, specifically information assurance. <br>
        I am seeking a position in cyber secuirty and am currently holding an active DOD sponsored seceret security clearance</p>
    
        <h2 id="Experience">Professional Experience</h2>
        <p>
            <ul>
                <li>United States Air Force
                    Air Transportation and Logistics Operations                                 September 2015 - September 2019
                    McChord Air Force Base, City, WA
                    •	Processed over 2500 military combatants as well as civilian retirees into the GLOBAL AERIAL TRANSPORTAION EXECUTION SYSTEM (GATES) program, ensuring electronic paperwork is assembled and completed accurately.
                    •	Performed the load and offload of global military asset cargo ranging from local support efforts to proving pivotal during operation "Inherent Resolve".  
                    •	Presided as load team chief over the duration of over 300 aerial transportation missions
                    </li> <br>
                    <li>Logistics Team Member/Operation Inherent Resolve                                                                    January 2018 - September 2018	
                        Al Asad Airbase, Al Baghdadi Central Iraq  
                        •	Expedited the logistical transport of the entire pararescue jumper squadron out of Iraq, to Long Island NY.
                        •	Performed logistical movement of over 100 tons of chemicals as well as explosives and ammunition.
                        •	Accomplished load team chief duties on over 250 combat missions, as well as logistical support missions for different bases around the area of responsibility.
                        </li>
                
            </ul>
        </p>

        <h2 id="Education">Educational Experience</h2>
        <table id="Educational_Table" border=2>
            <tr>
                <td>Start--End</td>
                <td>Degree</td>
                <td>Place</td>
                <td>Location</td>

            </tr>
            <!--Row2-->
            
            <tr>
                <td>January 2020--April 2023</td>
                <td>Information Technology</td>
                <td>Oakland University</td>
                <td>Rochester, MI</td>

            </tr>
            
            </tr>
        </table>
        <section id="Extracurricular_Hobbies">
            <h2 id="Hobbies">Extracurricular Interests and Hobbies</h2>
            <p>I love to play music and have been doing so for roughly 20 years. I love to fish and spend time on the water or in the outdoors in general. <br>
            I am a very big cinema and music buff and love attending live shows and plays. </p>
        </section>
        <hr>
        <footer id="page_footer">
            Property of Zach Haveraneck&copy;
        </footer>
    </main>
</body>
</html>