<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./CSS/stylesheet.css">
    
    <script src="https://kit.fontawesome.com/104498a5ae.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="Images/OUStackedSail.jpg" type="image/jpg">
    <nav>
        <ul>
            <li><a href="./index.ejs">Home Page</a></li>
            <li><a href="./blog.ejs">Resume Page</a></li>
            <li><a href="./fun_facts.ejs">Fun Facts</a></li>
            <li><a href="./resume.ejs">Blog</a></li>
            <li><a href="./trivia.ejs">Trivia</a></li>
        </ul>
    </nav> 
</head>
<body>

    <main>











    </main>
    <hr>
    <footer id="page_footer">
       Property of Zach Haveraneck&copy;

    </footer>
    
</body>
</html>